body {
	background: url(images/ChlRTs.png) no-repeat;
	background-position:center;
	background-size: 150vw 100vh;
	background-attachment:fixed;
}

.content {
	margin-left:130px;
}

.content p {
	font-family: 'PT Mono', monospace;
	font-size: 20px;
	line-height: 24px;
}

.content a {
	padding:8px;
	border:1px solid #000;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.content a:link {
	color:#fff;
	text-decoration: none;
	background:#000;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.content a:visited {
	color:#fff;
	text-decoration: none;
	background:#000;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.content a:hover {
	color:#000;
	text-decoration: none;
	background:#fff;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.content a:active {
	color:#fff;
	text-decoration: none;
	background:#000;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* WIP */

#top {
	margin-bottom:70px;
}

#menu {
	position:fixed;
	left:10px;
	top:10px;
	max-width:100px;

	text-align:left;

	font-family:Arial, sans-serif;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#menu a {
	color:#fff;
	text-decoration: none;
}

#menu a:hover {
	color:#000;
}

.m_box {
	display:block;
	float:left;

	margin:3px;

	color:#fff;
	background:#000;
	border:1px solid #000;

	text-align:center;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.m_box:hover {
	color:#000;
	background:#fff;
}

.m_h {
	width:81px;
	height:81px;

	font-size:70px;
	line-height:81px;

}

.m_h .icon {
	display:block;
	animation: dr 3s linear 2s infinite;
}

.m_s {
	width:37px;
	height:37px;

	font-size:25px;
	line-height:37px;
}

.m_s .icon {
	display:block;
	animation: dr 3s linear 3s infinite;
}

.links {
	max-width:70vw;

	margin-bottom:3em;
}

.links p {
	margin-bottom:1em;
	line-height:1.1em;
}

.links a {
	display:inline-block;
	margin:2px -4px;
}

.iconicimg {
	position:fixed;

	z-index:-1;

	right:-8vh;
	bottom:-2.5vh;
}

.iconicimg img {
	height:80vh;
}

/* Animations */

@keyframes dr {
	0% {
		-webkit-transform: rotate(0deg);
  		transform: rotate(0deg);
	}
	4% {
		-webkit-transform: rotate(0deg);
  		transform: rotate(0deg);
	}
	4.125% {
		-webkit-transform: rotate(45deg);
  		transform: rotate(45deg);		
	}
	8.125% {
		-webkit-transform: rotate(45deg);
  		transform: rotate(45deg);		
	}
	8.25% {
		-webkit-transform: rotate(90deg);
  		transform: rotate(90deg);
	}
	12.25% {
		-webkit-transform: rotate(90deg);
  		transform: rotate(90deg);
	}
	12.375% {
		-webkit-transform: rotate(135deg);
  		transform: rotate(135deg);
	}
	16.375% {
		-webkit-transform: rotate(135deg);
  		transform: rotate(135deg);
	}
	16.5% {
		-webkit-transform: rotate(180deg);
  		transform: rotate(180deg);
	}
	20.5% {
		-webkit-transform: rotate(180deg);
  		transform: rotate(180deg);
	}
	20.625% {
		-webkit-transform: rotate(225deg);
  		transform: rotate(225deg);
	}
	24.635% {
		-webkit-transform: rotate(225deg);
  		transform: rotate(225deg);
	}
	24.75% {
		-webkit-transform: rotate(270deg);
  		transform: rotate(270deg);
	}
	28.75% {
		-webkit-transform: rotate(270deg);
  		transform: rotate(270deg);
	}
	28.875% {
		-webkit-transform: rotate(315deg);
  		transform: rotate(315deg);
	}
	32.875% {
		-webkit-transform: rotate(315deg);
  		transform: rotate(315deg);
	}

	33% {
		-webkit-transform: rotate(0deg);
  		transform: rotate(0deg);		
	}
	100% {
		-webkit-transform: rotate(0deg);
  		transform: rotate(0deg);
	}
}