body {
	background: url(images/ChlRTs.png) no-repeat;
	background-position:center;
	background-size: 150vw 100vh;
	background-attachment:fixed;
}

.content {
	margin-left:130px;
}

.content p {
	font-family: 'PT Mono', monospace;
	font-size: 20px;
	line-height: 24px;
}

.content a {
	padding:8px;
	border:1px solid #000;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.content a:link {
	color:#fff;
	text-decoration: none;
	background:#000;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.content a:visited {
	color:#fff;
	text-decoration: none;
	background:#000;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.content a:hover {
	color:#000;
	text-decoration: none;
	background:#fff;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.content a:active {
	color:#fff;
	text-decoration: none;
	background:#000;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* WIP */

#top {
	margin-bottom:70px;
}

#container {

}

#menu {
	position:fixed;
	left:10px;
	top:10px;
	max-width:100px;

	text-align:left;

	font-family:Arial, sans-serif;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#menu a {
	color:#fff;
	text-decoration: none;
}

#menu a:hover {
	color:#000;
}

.m_box {
	display:block;
	float:left;

	margin:3px;

	color:#fff;
	background:#000;
	border:1px solid #000;

	text-align:center;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.m_box:hover {
	color:#000;
	background:#fff;
}

.m_h {
	width:81px;
	height:81px;

	font-size:70px;
	line-height:81px;
}

.m_s {
	width:37px;
	height:37px;

	font-size:25px;
	line-height:37px;
}
