/* Variables, sort of */
:root {
	--light:#F9F8F7;
	--accent-light:#EFE82E;
	--highlight:#11b7cd;
	--accent-dark:#AA3EBE;
	--dark:#203f7c;
	--verydark:#2e3f46;
}

/* Basics */
html {
	height:100%;
	box-sizing:border-box;
}

*,
*:before,
*:after {
	box-sizing:inherit;
}

body {
	position:relative;
	min-height:100%;

	margin:0;

	font-family: anonymous-pro, monospace;
	font-size:20px;
	line-height:1.25em;

	color:var(--verydark, #000);

	background:var(--light, #F9F8F7);

	/**//*
	scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: y mandatory;

	overflow-y:scroll;
	overflow-x:hidden;

	/**/

	overflow-x:hidden;
}

p {
	margin-top:0em;
	margin-bottom:1.25em;
}

h1 {
	font-family: base-mono-narrow, monospace;
	line-height:1em;
	font-weight:bold;
	font-style:italic;

	color:var(--highlight, #11b7cd);

	margin:0.5em 0em;
}

h2 {
	font-family: base-mono-narrow, monospace;
	line-height:1em;
	font-weight:bold;
	font-style:italic;

	color:var(--highlight, #11b7cd);

	margin:0.25em 0em;
}

h3 {
	font-size:20px;
	line-height:1.25em;
	font-weight:bold;

	color:var(--highlight, #11b7cd);

	margin:0.25em 0em;
}

ul {
	list-style: square inside none;
}

a {
	color:var(--highlight, #11b7cd);
}

a:hover {
	background:var(--accent-light, #EFE82E);
}

a:active {
	color:var(--accent-light, #EFE82E);

}

a:visited {
	color:var(--highlight, #11b7cd);
}

/* Classes */

.wrapper {
	position:relative;
	
	/**/
	overflow-y:scroll;
	height:100vh;

	scroll-snap-type: proximity;
	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: block proximity;
	-webkit-overflow-scrolling: touch;
	/**/
}

#top {	
	position:fixed;
	max-height:4em;

	top:0px;
	left:0px;

	width:46px;
	height:46px;


	z-index:5;

	margin:0;
	padding:0.75em;

	background:var(--accent-dark, #222);
	opacity:0.9;
	mix-blend-mode:hard-light;

	font-family: base-mono-narrow, monospace;
	font-weight:normal;
	font-size:18px;
	line-height:1.3em;
	text-align:left;

	color:var(--light, #fff);
}

#top p {
	margin:0;

	font-size:18px;
	line-height:1.1em;
}

#top .fab, .mb .fab {
	color:var(--accent-light, #EFE82E);
	margin-right:0.1em;
}

#top a, .mb a {
	background:none;
}

#top a:hover, .mb a:hover {
	mix-blend-mode:difference;
}

#menu {
	display:block;
	float:left;

	position:fixed;
	top:0px;
	left:0px;

	z-index:5;

	padding:8px;

	font-size:30px;
}

#menu a {
	color:var(--accent-light, #EFE82E);
	background:none;
}

#menu a:hover {
	color:var(--accent-light, #EFE82E);
	mix-blend-mode:difference;
}

.mb {
	display:inline-block;
	margin-top:2em;
	margin-bottom:2em;

	width:100%;

	font-family: base-mono-narrow, monospace;
	font-weight:normal;
	font-size:5vmin;
	line-height:2em;
	text-align:center;

	color:var(--light, #fff);
}

.fa-spin-hover:hover {
	transform: rotate(90deg);
}

#menu a:active {
	color:var(--accent-light, #EFE82E);
	background:none;
}

#menu a:visited {
	color:var(--accent-light, #EFE82E);
	background:none;
}

.content {
	min-width:60vw;
	max-width:800px;

	z-index:0;

	margin:0 auto;
	margin-top:4em;

	padding:0em 0.5em;
}

.content p:before {
	content:"";
	width:30%;
	display:block;
	overflow:hidden;
}

#bottom {
	position:relative;
	left:0px;
	right:0px;
	bottom:0px;

	z-index:1;

	max-height:5em;

	margin:0;

	padding:0.75em;

	background:var(--accent-dark, #222);
	opacity:0.9;
}

#bottom p {
	margin:0;

	font-size:16px;
	line-height:1.1em;
	text-align:center;

	color:var(--light, #fff);
	mix-blend-mode:soft-light;
}

/* fix image width */
.iwf {
	margin:0.25em 0;
	max-width:100%;
	object-fit:contain;
}

/* image wrap right */
.iwr {
	float:right;
	margin-left:0.75em;
}

/* image wrap left */
.iwl {
	float:left;
	margin-right:0.75em;
}

/* out left */
.ol {
	margin-left:-100px;
}

/* out right */
.or {
	margin-right:-100px;
}

/* image full content */
.ifc {
	display:block;

	max-width:100%;

	object-fit:contain;
}

.intro .ifc {
	max-width:100vmax;

	margin-left:calc(50vw - 50vmax);
}

#start {
	position:absolute;
	left:0;
}

#start img {
	max-width:none;
	max-height:100vh;
}

.startlink {
	height:10vh;
	width:20vh;
	position:absolute;
	z-index:2;

	/*
	background:#fff;
	opacity:0.5;
	*/
}

.sl1 {
	height:7vh;
	width:25vh;
	top:9vh;
	left:42vh;
}

.sl2 {
	height:15vh;
	width:35vh;
	top:30vh;
	left:9vh;
}

.sl3 {
	height:12vh;
	width:10vh;
	bottom:7vh;
	left:55vh;
}

.big {
	max-width:200vmin;
	margin-left:calc(50vw - 100vmin);
}

/* speech bubble (l = left, r = right) */
/* Source: https://leaverou.github.io/bubbly/ */
.sb {
	font-family: base-mono-narrow, monospace;
	font-weight: bold;
	font-size:24px;
	line-height:1.25em;
}

.sbr {
	position:relative;

	max-width:70%;
	min-height:3em;

	margin-left:15%;
	margin-bottom:2em;
	padding:1em;

	background: var(--light, #fff);
	border:4px solid var(--highlight, #11b7cd);
	border-radius: .4em;
	box-shadow: 8px 8px 0px 0px var(--dark, #000);
}

.sbr:before {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 18px solid transparent;
	border-left-color: var(--highlight, #11b7cd);
	border-right: 0;
	border-bottom: 0;
	margin-top: -11.5px;
	margin-right: -18px;
}
.sbr:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-left-color: var(--dark, #000);
	border-right: 0;
	border-bottom: 0;
	margin-top: 6px;
	margin-right: -20px;
}

.sbl {
	position:relative;

	max-width:70%;
	min-height:3em;

	margin-left:15%;
	margin-bottom:2em;
	padding:1em;

	background: var(--light, #fff);
	border:4px solid var(--highlight, #11b7cd);
	border-radius: .4em;
	box-shadow: 8px 8px 0px 0px var(--dark, #000);
}

.intro .sbl {
	position:absolute;
	bottom:2em;

	z-index:2;

	animation:sbbob 2s ease-in-out infinite;
}

.sbl:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 18px solid transparent;
	border-right-color: var(--highlight, #11b7cd);
	border-left: 0;
	border-bottom: 0;
	margin-top: -11.5px;
	margin-left: -18px;
}
.sbl:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right-color: var(--dark, #000);
	border-left: 0;
	border-bottom: 0;
	margin-top: 6px;
	margin-left: -14px;
}

/* adjust page height */
.gap {
	height:10em;
}

.buffer {
	display:block;
	width:100%;
	height:1em;
}

/* Intro */
.intro {
	right:0;
	left:0;

	z-index:8;

	background:#189caf;
}

.child {
	position:relative;

	min-height:100vh;

	scroll-snap-align:start;
}

.intro .child {
	height:100vh;

	overflow-y:hidden;
	overflow-x:hidden;
}

.vortex {
	position:absolute;
	margin-left:calc(50vw - 50vmin);

	height:100vh;
	width:100vmin;

	z-index:1;

	overflow-y:hidden;
	overflow-x:hidden;
}

.vortex img {
	position:absolute;

	top:0;
	left:0;

	max-width:100vmin;

	margin:0 auto;
}

.inner-ring {
	animation:ring 8s linear infinite;
}

.outer-ring {
	animation:ring 15s linear infinite;
}

.ring2 {
	width:200vmin;
	margin-left:calc(50vw - 100vmin);
}

.ring2 img {
	top:calc(50vh - 100vmin);

	max-width:200vmin;
}

.boat {
	position:absolute;

	width:30vmin;

	z-index:2;

	left:-10vw;
	bottom:-30vh;

	animation:bob 2s ease-in-out infinite;

}

.boat img {
	width:50vmin;
}

.boattop {
	bottom:70vh;

	animation:bob2 2s ease-in-out infinite;
}

.ce {
	color:var(--accent-dark, #EFE82E);
}

/* Animations */

@keyframes ring {
	0% {

	}
	100% {
		transform:rotate(360deg);
	}
}

@keyframes bob {
	0% {
		bottom:-30vh;
	}
	50% {
		bottom:-26vh;
	}
	100% {
		bottom:-30vh;
	}
}

@keyframes bob2 {
	0% {
		bottom:70vh;
	}
	50% {
		bottom:74vh;
	}
	100% {
		bottom:70vh;
	}
}

@keyframes sbbob {
	0% {
		bottom:2em;
	}
	50% {
		bottom:2.5em;
	}
	100% {
		bottom:2em;
	}
}