/* Variables */
:root {
	--padding-huge:40px;
	--padding-big:20px;
	--padding-small:10px;
	--padding-tiny:5px;
}

/* Defaults */
body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:red;
	text-decoration:none;
}

a:hover {

}

a:visited {

}

a:active {

}

img {
	width: 100%;
}

iframe {
	
}

p {
	margin-bottom:var(--padding-big, 20px);
}

/* Classes */
.nav {
	position:fixed;
	left:0;
	top:0;
	width:100vw;

	padding:var(--padding-big, 20px);

	box-shadow:0 0 10px grey;

	background:#fff;

	display:flex;

}

.nav-item {
	/*padding:var(--padding-tiny, 5px);*/
	flex:0 0 33.33%;

	text-align:center;
}

.main {
	max-width:800px;

	margin:0 auto;
	margin-top:120px;
}

.title {
	font-weight:bold;
	margin-bottom:1em;
}

.twt {
	margin-top:var(--padding-huge, 40px);
	margin-bottom:var(--padding-huge, 40px);
}

.tweet {
	width:100%;
	min-height:400px;

	box-shadow:0 0 10px grey;
	border-radius:var(--padding-big, 20px);
}

.text {
	
}

/*
.width-50 {
	width:50%;
}
*/

/* Info Page */

.info-main {
	width:100%;

	margin:0 auto;
	margin-top:120px;
	margin-bottom:var(--padding-huge, 40px);

	display:flex;
}

.info-image {
	flex:0 0 50%;

	padding-left:var(--padding-big, 2px);
	padding-right:var(--padding-big, 20px);
}

.info-image img {
	display:block;

	max-width:60%;

	margin:0 auto;

	border-radius:50%;
}

.info-text {
	flex:0 0 50%;

	padding-left:var(--padding-big, 20px);
	padding-right:var(--padding-big, 20px);
}

.stats {
	font-size:75%;

	margin-bottom:var(--padding-small,10px);

	display:flex;
	flex-wrap:wrap;
}

.stats-item {
	flex:0 0 33%;
	padding-right:var(--padding-small,10px);
	padding-bottom:var(--padding-small,10px);
}
