:root {
	--padding-huge:40px;
	--padding-big:20px;
	--padding-small:10px;
	--padding-tiny:5px;
}

body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:red;
}

.nav {
	position:fixed;
	left:0;
	top:0;
	width:100vw;

	padding:var(--padding-big, 20px);

	box-shadow:0 0 10px grey;

	background:#fff;

	display:flex;

}

.nav-item {
	/*padding:var(--padding-tiny, 5px);*/
	flex:0 0 33.33%;
}

.main {
	max-width:800px;

	margin:0 auto;
	margin-top:120px;
}

.title {
	
}

.twt {
	margin-top:var(--padding-huge, 40px);
	margin-bottom:var(--padding-huge, 40px);
}

.tweet {
	width:100%;
	min-height:400px;

	box-shadow:0 0 10px grey;
	border-radius:var(--padding-big, 20px);
}

/*
.width-50 {
	width:50%;
}
*/

img {
	width: 100%;
}

iframe {
	
}