:root {
	--sign:crimson;
}

body {
	font-family: input-mono-compressed, monospace;
	font-size: 32px;
	font-weight:200;
	line-height:1.3em;

	overflow-x:hidden;
}

a {
	color:red;
}

img {
	width:100%;
}

#main {
	width:100vw;
	min-height:100vh;

	display:flex;
	flex-wrap:wrap;
	grid-gap:10px;
	padding:10px;

	background:#fabbbb;
}

.box {
	border:1px solid #333;
	border-radius:20px;
	padding:18px;

	min-width:22vw;
	min-height:22vw;

	flex-grow:1;
	flex-shrink:1;
}

